
.list-group{
  max-height: 2000px;
  /* max-height: 300px; */
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.book-list-heading {
  font-weight: bold;
}

/* h4 {
  padding-bottom: 0;
  margin-top: 6px;
  margin-bottom: 4px;
}
h5 {
  padding-bottom: 0;
  margin-top: 6px;
  margin-bottom: 2px;
} */
.book-title {
  font-size: 22px;
  margin-top: 6px;
  margin-bottom: 2px;
}
